<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpay.settlement.accountbackoperation.mapper.SvsAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hpay.settlement.accountbackoperation.entity.SvsAccount">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="USERID" property="userid" />
        <result column="ACCOUNTTYPECODE" property="accounttypecode" />
        <result column="CREATETIME" property="createtime" />
        <result column="STATUS" property="status" />
        <result column="FREEZEEXPIRETIME" property="freezeexpiretime" />
        <result column="PARENTID" property="parentid" />
        <result column="PATH" property="path" />
        <result column="AUTHSTATUS" property="authstatus" />
        <result column="PAYTYPE" property="paytype" />
        <result column="PASSWORD" property="password" />
        <result column="ERRCOUNT" property="errcount" />
        <result column="ACCOUNT_FLAG" property="accountFlag" />
        <result column="FZ_FLAG" property="fzFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NAME, USERID, ACCOUNTTYPECODE, CREATETIME, STATUS, FREEZEEXPIRETIME, PARENTID, PATH, AUTHSTATUS, PAYTYPE, PASSWORD, ERRCOUNT, ACCOUNT_FLAG, FZ_FLAG
    </sql>

</mapper>
