<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpay.settlement.accountbackoperation.mapper.SvsBalanceUpdateLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hpay.settlement.accountbackoperation.entity.SvsBalanceUpdateLog">
        <id column="ID" property="id" />
        <result column="ACCOUNT_TRANS_SEQ" property="accountTransSeq" />
        <result column="ACCOUNT_DATE" property="accountDate" />
        <result column="INSERT_TIME" property="insertTime" />
        <result column="REMARK" property="remark" />
        <result column="ACCOUNT_ID" property="accountId" />
        <result column="BALANCEAMOUNT" property="balanceamount" />
        <result column="BALANCEAMOUNT00" property="balanceamount00" />
        <result column="BALANCEAMOUNT11" property="balanceamount11" />
        <result column="PREDEDUCTBALANCE" property="predeductbalance" />
        <result column="FLAG" property="flag" />
        <result column="ACCOUNT_TRANS_DATE" property="accountTransDate" />
        <result column="FREEZE_AMOUNT" property="freezeAmount" />
        <result column="PAYMENT_TRANS_SEQ" property="paymentTransSeq" />
        <result column="PAYMENT_TRANS_DATE" property="paymentTransDate" />
        <result column="BALANCEAMOUNT01" property="balanceamount01" />
        <result column="BALANCEAMOUNT10" property="balanceamount10" />
        <result column="T0_DEBIT" property="t0Debit" />
        <result column="T0_TRANS" property="t0Trans" />
        <result column="WITHDRAW_DONE" property="withdrawDone" />
        <result column="FROZEN" property="frozen" />
        <result column="FROZEN_NEED" property="frozenNeed" />
        <result column="UNFREEZE" property="unfreeze" />
        <result column="DEDUCT_NEED" property="deductNeed" />
        <result column="DEDUCTED" property="deducted" />
        <result column="WITHDARW_FROZEN" property="withdarwFrozen" />
        <result column="FR_BALANCE" property="frBalance" />
        <result column="FEE_BALANCE" property="feeBalance" />
        <result column="REFUND_NEED" property="refundNeed" />
        <result column="REFUNDED" property="refunded" />
        <result column="TRANS_SEQ" property="transSeq" />
        <result column="FZ_SETTLE_NEED" property="fzSettleNeed" />
        <result column="FZ_NEED" property="fzNeed" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, ACCOUNT_TRANS_SEQ, ACCOUNT_DATE, INSERT_TIME, REMARK, ACCOUNT_ID, BALANCEAMOUNT, BALANCEAMOUNT00, BALANCEAMOUNT11, PREDEDUCTBALANCE, FLAG, ACCOUNT_TRANS_DATE, FREEZE_AMOUNT, PAYMENT_TRANS_SEQ, PAYMENT_TRANS_DATE, BALANCEAMOUNT01, BALANCEAMOUNT10, T0_DEBIT, T0_TRANS, WITHDRAW_DONE, FROZEN, FROZEN_NEED, UNFREEZE, DEDUCT_NEED, DEDUCTED, WITHDARW_FROZEN, FR_BALANCE, FEE_BALANCE, REFUND_NEED, REFUNDED, TRANS_SEQ, FZ_SETTLE_NEED, FZ_NEED
    </sql>

</mapper>
